
.navbar{
    background-color: #ffffff;
    border-bottom:#F4EEED ;
    
}
.bg-dark{
    background-color: #ffffff;
}
.navbar {
    color: black;
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    margin-left:50px;
    margin-right:50px;

}
.navbar-items {
    text-decoration: none;
}
.navbar-items li {
    display: inline-block;
    padding: 0px 20px;   
}
.navbar-items li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color:black;
}
.navbar-items li a:hover {
    color: blue;
}

.main{
    background-color: #F0C929;
    height:680px;
    padding-bottom: 0px;    
    
}

.form-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 100px;
}
#tr {
    margin-top:40px;
    margin-left: 70px;
    text-align:center;
    font-size: 40px;
}

#un{
    margin-top : 470px;
    text-align : left;
    margin-left : 20px;
    margin-right: 350px;
    margin-top: 400px;

}

.login{
    background-color: #ffffff;
    border-radius: 29px;
    padding:30px;
    margin-top: 10px;
    width:80%;
    margin-left: 10px;
    margin-right: 70px;
    padding-bottom:30px;
    padding-top: 20px;
    
    
   
}
input[type=email]{
    background-color: #F4EEED;
    padding: 12px 10px;
    margin: 8px 0;
    border:none;
    border-radius: 20px;
    width:100%;
  }

input[type=password]{
    background-color: #F4EEED;
    padding: 12px 10px;
    margin: 8px 0;
    border:none;
    border-radius: 20px;
    width:100%;
  }
  input::placeholder{
    padding-left: 10px;
  }
#login-submit{
    background-color: #000000;
    color:#F0C929;
    padding: 12px 20px;
    margin: 8px 0;
    border:none;
    border-radius: 20px;
    width:100%;
}
.button{
    text-decoration: none;
    color:#F0C929;
}
.content{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.front-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    position: absolute;
    width: 814px;
    height: 431px;
    left: 0px;
    top: 120px;
   
}
.image{
        margin-top: 100px;
}
.signup-links{
    color:#1D19BE;
    text-align: center;
}
button{
    cursor:pointer;
    transition: all .2s ease-in-out;
}
button:focus{
    outline:none;
}
#login-submit:hover{
    transform: scale(1.1);
}
.sign{
    text-align: center;
}
.flex {
    display:flex;
    padding-right: -80px;

}
.space {
    text-align: center;
}
.add{
    text-align: center;
}
.adj{
    text-align: center;
}


footer{
    background-color: black;
    left: 0;
    bottom: 0;
    height: 100px;
    text-align:center;
    padding-top:15px;  
}
#foo1 {
    color:white;
}
#foo2{
   color: #F0C929 ;
}
html,body{
    width:100%;
    
}
html {
    scroll-behavior: smooth;
  }